<p id="notice"><%= notice %></p>


<p>
  <b>Topic:</b>
  <%= @topic.title %>
</p>

<p>
  <b>User:</b>
  <%= @topic.user_id %>
</p>

<!--<p>
  <b>Post:</b>
  <%= link_to @post %>
</p> -->

<div id="posts">

	<% @topic.posts.each do|p|%>
	<% unless p.body.nil? %>
	
	<div class="listing">
		<%= p.body %>
	</div>

		<% end %>
	<% end %>

	
	</div>
<div >

<%= render 'posts' %>

<%= link_to 'Back', forum_path(@forum) %>
<%= link_to "Create Post", new_topic_post_path(@topic)%>
