<p id="notice"><%= notice %></p>
<div class="listing">
  <p>
  <b>Forum:</b>

  <%= @forum.title %>&nbsp;&nbsp;
  <% if current_user == @forum.user %>
  <%= link_to '(Edit)', edit_forum_path(@forum) %> 
  <% end %>
 </p> 

  <p>
    <b>Description:</b>
    <%= @forum.description %>
  </p>
</div>
 
<div class="listing">
  <p><% @forum.topics.each do |topic| %>
	<%= link_to 'Topics', forums_topics_path %> 
	 <b><%= link_to topic.title, topic_path(topic) %></b>
		<%= topic.description %>&nbsp;&nbsp;  
		Created <%= time_ago_in_words(topic.created_at)%> ago
		<i>Created by <%= topic.user.username%> </i>
	
    <% end %>
	<%= link_to 'Show Topics', forum_topics_path(@forum) %>
	
  </p>


	<p>
		<%= link_to 'New Forum', new_forum_path %>
		<% if current_user == @forum.user %>
		
	<%= button_to 'Destroy', @user, :confirm => 'Are you sure?', :method => :delete %>	
	</p>


<i><%= link_to 'Back', forums_path %> | 

<%= link_to 'New Topic', new_forum_topic_path(@forum) %></i>
</div>
<% end %>