<!-- app/views/posts/_form -->

<%= form_for([@topic, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.text_area :body, :cols => 50, :rows => 6 %>


  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

