
<!-- app/views/posts/index -->
<h1>Posts</h1>

<table>
  <tr>
    <th>Id</th>
    <th>User</th>
    <th>Topic</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
<div class ="listing">
  <tr>
  	<td><%= post.id %></td>
    <td><%= post.user_id %></td>
    <td><%= post.topic_id %></td> 
    <td><%= post.body %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
</div>
<% end %>
</table>

<br />

<%= link_to 'Back', topic_path(@topic) %> |
<%= link_to 'New Post', new_topic_post_path(@topic) %>
