<h1>Topics</h1>
<div class = "listing">
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <p><% @forum.topics.each do |topic| %>
	
	 <b><%= link_to topic.title, topic_path(topic) %></b>
		<%= topic.description %>&nbsp;&nbsp;  
		Created <%= time_ago_in_words(topic.created_at)%> ago
		<i>Created by <%= topic.user.username%> </i>
    <% end %>
  </p>
</table>

<br />
</div>
<%= link_to 'New Topic', new_topic_path %>

