<h1>Topics</h1>

<div class="listing">	
  
<p><% @topics.each do |topic| %>
</div>

<div class="listing">	
	 <b><%= link_to topic.title, topic_path(topic) %></b>
		<%= topic.description %>&nbsp;&nbsp;  
		 <% if topic.user?%>
		Created <%= time_ago_in_words(topic.created_at)%> ago
		<i>Created by <%= topic.user.username%> </i><br/>
    <% end %>
 <% end %>
  </p></div>


<br />
<% if current_user  || current_user == @forum.user %>
<%= link_to 'New Topic', new_topic_path %>
<%end%>

