<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @post.user.name %>
</p>

<p>
  <b>Topic:</b>
  <%= @post.topic.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
