<h1>Users</h1>
<div class="listing">

	<%= will_paginate %>
<table>
  <tr>
	   <th>Username</th>
    <th>First</th>
    <th>Last</th>
 
    <th>Email</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
 <ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, :size => 30 %>
      <%= link_to user.username, user %>
    </li>
  <% end %>
</ul>

<% end %>
</table>
<%= will_paginate %>
<br />
</div>
<%= link_to 'New User', new_user_path %>
