<h1>Users</h1>
<div class="listing">
	<%= will_paginate %>


 <ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, :size => 30 %>
      <%= link_to user.username, user %>
    </li>
  <% end %>
</ul>


<%= will_paginate %>
<br />
</div>
<% if current_user  || current_user == @user %>
<%= link_to 'New User', new_user_path %>
<%end%>