
<h1>Sign Up</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>


<div class = "listing">
 	 <div class="field">
	    <%= f.label :first_name %><br />
	    <%= f.text_field :first_name %>
	  </div>
	  <div class="field">
	    <%= f.label :last_name %><br />
	    <%= f.text_field :last_name %>
	  </div>
	  <div class="field">
	    <%= f.label :username %><br />
	    <%= f.text_field :username %>
	  </div>
	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.text_field :email %>
	  </div>
	  <div class="field">
	    <%= f.label :active %><br />
	    <%= f.check_box :active %>
	  </div>
	<div class="field">
	    <%= f.label :password %><br />
	    <%= f.password_field :password %>
	  </div>
	<div class="field">
	    <%= f.label :password_confirmation %><br />
	    <%= f.password_field :password_confirmation %>
	  </div>




<div class="actions">
    <%= f.submit  "Sign up"%>
  </div>
  <% end %>
</div>
<%= link_to 'Back', users_path %>
