<h1><%= @user.username %>'s Profile<%= link_to '(Edit)', edit_user_path(@user) %> </h1>

<p id="notice"><%= notice %></p>
<br/>
   <div class="listing"> 
<p>
  <b>First Name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last Name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Active:</b>
  <%= @user.active %>
</p>


<p>
<%= button_to 'Destroy', @user, :confirm => 'Are you sure?', :method => :delete %>	
</p>
</div>
<%= link_to 'Back to Users', users_path %>
